@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

@font-face {
  font-family: "Galmuri11";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
@font-face {
  font-family: "ChangwonDanggamAsak";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
#user {
  width: clamp(250px, 5vw, 350px);
}
#typing {
  font-size: clamp(12px, 1vw, 16px);
  font-family: "Galmuri9";
  white-space: pre-wrap;
  color: #fff;
  text-align: left;
  display: none;
}
#tutorial {
  position: absolute;
  top: 105%;
  border: 2px solid #fe1ffb;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 18px 60px;
  cursor: pointer;
}
#tutorial h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(18px, 5vw, 36px);
  color: #db58d9;
  font-family: "ChangwonDanggamAsak";
  height: auto;
}
#tutorial.on {
  padding-bottom: 30px;
}
#tutorial:hover {
  color: #fe1ffb;
  background-color: rgba(255, 255, 255, 0.5);
}

#tutorial.on #typing {
  display: block;
}
body {
  background-image: url("../img/bg.png");
  background-size: contain;
  overflow: hidden;
  animation: starFlow 25s linear infinite;
}
@keyframes starFlow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 500px 250px;
  }
  100% {
    background-position: -200px 100px; /* 원하는 흐름 방향 */
  }
}
#stick img {
  width: 100%;
}
#back {
  position: absolute;
  top: 200px;
  left: 16px;
  font-size: clamp(24px, 3vw, 44px);
  color: #fe1ffb;
}
#keyboard img {
  width: 100%;
}

@media (min-width: 1220px) {
  body {
    background-size: 70%;
  }
  /*wrap*/
  .bg {
    width: clamp(700px, 80vw, 1000px);
    border-radius: 54px;
    height: 500px;
    margin: 210px auto;
    background-color: #70ccd7;
    box-shadow: inset 5px 4px 10px rgba(255, 255, 255),
      inset 5px 5px 20px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    position: relative;
  }
  .wrap {
    box-sizing: border-box;
    position: absolute;
    width: clamp(650px, 50vw, 800px);
    height: 750px;
    left: 50%;
    top: 50%;
    padding-top: 50px;
    transform: translate(-50%, -50%);
    background-image: url("../img/frame6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrap .name {
    position: absolute;
    min-width: 280px;
    max-width: 400px;
    bottom: 8%;
    right: -4%;
  }
  .wrap .name img {
    width: 100%;
  }
  /*result*/
  #result {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #result img {
    width: 270px;
    transform: translate(0%, -50%);
  }

  /*chance*/
  #chance {
    position: absolute;
    right: 20%;
    top: 32%;
    transform: translate(50%, 0%);
    font-size: 16px;
    color: #00ff2f;
    font-family: "Galmuri7";
  }
  #chance i {
    color: red;
  }
  /*insert*/
  .insert {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 34%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  /*input*/
  #user {
    height: 22px;
    line-height: 22px;
    background-color: #666;
    border: 2px solid #00ff2f;
  }

  /*button*/
  button {
    padding: 0px 5px;
  }
  #play {
    font-family: "Galmuri7";
    background-color: #222;
    /* border: 2px solid #00ff2f; */
    color: #00ff2f;
  }
  #reset {
    font-family: "Galmuri7";
    background-color: #222;
    /* border: 2px solid #00ff2f; */
    color: #00ff2f;
  }
  #stick {
    width: clamp(250px, 40%, 400px);
    position: absolute;
    bottom: -40%;
    right: 0%;
  }
  #keyboard {
    width: clamp(300px, 50%, 750px);

    object-fit: cover;
    position: absolute;
    bottom: -68%;
    left: 0%;
  }
}

@media (min-width: 720px) and (max-width: 1219px) {
  #tutorial {
    position: absolute;
    top: 105%;
    border: 2px solid #fe1ffb;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px 36px;
    cursor: pointer;
  }

  #tutorial h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(18px, 5vw, 36px);
    color: #db58d9;
    font-family: "ChangwonDanggamAsak";
    height: auto;
  }
  #tutorial.on {
    padding-bottom: 6px;
  }
  /*wrap*/
  .bg {
    width: clamp(700px, 80vw, 1200px);
    border-radius: 54px;
    height: 500px;
    margin: 210px auto;
    background-color: #70ccd7;
    box-shadow: inset 5px 4px 10px rgba(255, 255, 255);
    box-sizing: border-box;
    position: relative;
  }
  .wrap {
    box-sizing: border-box;
    position: absolute;
    width: 650px;
    height: 750px;
    left: 50%;
    top: 50%;
    padding-top: 50px;
    transform: translate(-50%, -50%);
    background-image: url("../img/frame6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrap .name {
    position: absolute;
    width: 280px;
    bottom: 8%;
    right: -4%;
  }
  .wrap .name img {
    width: 100%;
  }
  /*result*/
  #result {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #result img {
    width: 270px;
    transform: translate(0%, -50%);
  }

  /*chance*/
  #chance {
    position: absolute;
    right: 20%;
    top: 32%;
    transform: translate(50%, 0%);
    font-size: 16px;
    color: #00ff2f;
    font-family: "Galmuri7";
  }
  #chance i {
    color: red;
  }
  /*insert*/
  .insert {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 34%;
    transform: translateX(-50%);
  }
  /*input*/
  #user {
    height: 22px;
    line-height: 22px;
    background-color: #666;
    border: 2px solid #00ff2f;
  }

  /*button*/
  button {
    padding: 0px 5px;
  }
  #play {
    font-family: "Galmuri7";
    background-color: #222;
    /* border: 2px solid #00ff2f; */
    color: #00ff2f;
  }
  #reset {
    font-family: "Galmuri7";
    background-color: #222;
    /* border: 2px solid #00ff2f; */
    color: #00ff2f;
  }
  #stick {
    width: clamp(350px, 40%, 400px);
    position: absolute;
    bottom: -38%;
    right: 0%;
  }
}

@media (max-width: 720px) and (min-width: 560px) {
  #tutorial {
    position: absolute;
    top: 133%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fe1ffb;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px 36px;
    cursor: pointer;
  }
  #tutorial.on {
    width: 80%;
  }
  #tutorial h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(18px, 5vw, 36px);
    color: #db58d9;
    font-family: "ChangwonDanggamAsak";
    height: auto;
  }

  /*wrap*/
  .bg {
    width: 100%;
    border-radius: 54px;
    height: 450px;
    margin: 210px auto;
    background-color: #70ccd7;
    box-shadow: inset 5px 4px 10px rgba(255, 255, 255);
    box-sizing: border-box;
    position: relative;
  }
  .wrap {
    position: absolute;
    width: 80vw;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/frame6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 3px solid #fe1ffb;
    border-right: 3px solid #fe1ffb;
  }
  .wrap .name {
    position: absolute;
    width: 220px;
    bottom: -100px;
    right: -10%;
  }
  .wrap .name img {
    width: 100%;
  }
  /*result*/
  #result {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #result img {
    width: 270px;
    transform: translate(0%, -50%);
  }

  /*chance*/
  #chance {
    position: absolute;
    right: 18%;
    top: 12%;
    transform: translate(50%, 0%);
    font-size: clamp(12px, 4vw, 16px);
    color: #00ff2f;
    font-family: "Galmuri7";
  }
  #chance i {
    color: red;
  }
  /*insert*/
  .insert {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 18%;
    transform: translateX(-50%);
  }
  /*input*/
  #user {
    height: 22px;
    line-height: 22px;
    background-color: #666;
    border: 2px solid #00ff2f;
  }

  /*button*/
  button {
    padding: 0px 5px;
  }
  #play {
    font-family: "Galmuri7";
    background-color: #222;
    /* border: 2px solid #00ff2f; */
    color: #00ff2f;
  }
  #reset {
    font-family: "Galmuri7";
    background-color: #222;
    /* border: 2px solid #00ff2f; */
    color: #00ff2f;
  }
  #stick {
    width: clamp(300px, 40%, 400px);
    position: absolute;
    bottom: -35%;
    right: 50%;
    transform: translateX(50%);
  }
  #back {
    position: absolute;
    top: 40px;
    left: 16px;
    font-size: clamp(24px, 3vw, 44px);
    color: #fe1ffb;
  }
}
@media (max-width: 559px) {
  #tutorial {
    position: absolute;
    top: 133%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fe1ffb;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px 36px;
    cursor: pointer;
    width: 30%;
  }
  #tutorial h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(18px, 5vw, 36px);
    color: #db58d9;
    font-family: "ChangwonDanggamAsak";
    height: auto;
  }
  #tutorial.on {
    width: 80%;
  }
  /*wrap*/
  .bg {
    width: 100%;
    border-radius: 54px;
    height: 450px;
    margin: 80px auto;
    background-color: #70ccd7;
    box-shadow: inset 5px 4px 10px rgba(255, 255, 255);
    box-sizing: border-box;
    position: relative;
  }
  .wrap {
    position: absolute;
    width: 80vw;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/frame6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrap .name {
    position: absolute;
    width: 220px;
    bottom: -100px;
    right: -10%;
  }
  .wrap .name img {
    width: 100%;
  }
  /*result*/
  #result {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #result img {
    width: 270px;
    transform: translate(0%, -50%);
  }

  /*chance*/
  #chance {
    position: absolute;
    right: 20%;
    top: 12%;
    transform: translate(50%, 0%);
    font-size: clamp(12px, 4vw, 16px);
    color: #00ff2f;
    font-family: "Galmuri7";
  }
  #chance i {
    color: red;
  }

  /*insert*/
  .insert {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 18%;
    transform: translateX(-50%);
  }
  /*input*/
  #user {
    height: 22px;
    line-height: 22px;
    background-color: #666;
    border: 2px solid #00ff2f;
  }

  /*button*/
  button {
    padding: 0px 5px;
  }
  #play {
    font-family: "Galmuri7";
    background-color: #222;
    /* border: 2px solid #00ff2f; */
    color: #00ff2f;
  }
  @keyframes twink {
    0% {
      opacity: 50%;
    }
    100% {
      opacity: 100%;
    }
  }
  #reset {
    font-family: "Galmuri7";
    background-color: #222;
    /* border: 2px solid #00ff2f; */
    color: rgba(255, 0, 0, 0.5);
  }
  #stick {
    width: clamp(270px, 40%, 400px);
    position: absolute;
    bottom: -35%;
    right: 50%;
    z-index: -1;
    transform: translateX(50%);
  }
  #back {
    position: absolute;
    top: 40px;
    left: 16px;
    font-size: clamp(24px, 3vw, 44px);
    color: #fe1ffb;
  }
}
#stick {
  z-index: 0;
}
.insert {
  z-index: 9999;
}
.insert button {
  z-index: 9999;
}
#reset {
  font-family: "Galmuri7";
  background-color: #222;
  /* border: 2px solid #00ff2f; */
  color: rgba(255, 0, 0, 0.5);
}
#reset:hover {
  color: red;
}
button:hover {
  cursor: pointer;
  border: 2px solid #00ff2f;
}
#back:hover {
  filter: brightness(3);
}
#back {
  cursor: pointer;
  will-change: transform;
}
#back::before {
  content: "";
  position: absolute;
  inset: -20px;
  background: transparent;
  pointer-events: auto;
}
::placeholder {
  color: #000;
}
