@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

@font-face {
  font-family: "Galmuri11";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  width: 100%;
  height: 100vh;
}

/*wrap*/
.bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/bg.png);
}
.wrap {
  box-sizing: border-box;
  position: absolute;
  width: 800px;
  height: 850px;
  left: 50%;
  top: 50%;
  padding-top: 50px;
  transform: translate(-50%, -50%);
  background-image: url("../img/frame5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*result*/
#result {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#result img {
  width: 270px;
  transform: translate(0%, -50%);
}

/*chance*/
#chance {
  position: absolute;
  right: 36%;
  top: 19%;
  transform: translate(50%, 0%);
  font-size: 16px;
  color: #00ff2f;
  font-family: "Galmuri7";
}
#chance i {
  color: red;
}
/*insert*/
.insert {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translateX(-50%);
}
/*input*/
#user {
  height: 22px;
  line-height: 22px;
  background-color: #666;
  border: 2px solid #00ff2f;
}

/*button*/
button {
  padding: 0px 5px;
}
#play {
  font-family: "Galmuri7";
  background-color: #222;
  /* border: 2px solid #00ff2f; */
  color: #00ff2f;
}
#reset {
  font-family: "Galmuri7";
  background-color: #222;
  /* border: 2px solid #00ff2f; */
  color: #00ff2f;
}
